@use "../../assets/styles/colors.module" as *;

.header {
  padding: 20px;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $br;
    box-shadow: $bs;
    background: $bg;
    padding: 15px;
  }

  &__logotype {
    display: flex;
    align-items: center;
    &__image {
    }
    &__text {
    }
  }
}
