:root {
  --bg: #ffffff;
  --mainbg: #eaeef6;

  --text: #121212;
  --textPrim: #41475e;

  --second: #f4f7fc;
  --secondBg: #7784ee;
  --secondText: #1778b0;

  --primary: #08a0f7;
  --primaryBg: #e1f2fc;
  --primaryText: #3387b7;

  --wrong: #f85640;
  --wrongBg: #fff8f8;
  --wrongText: #79170a;

  --attention: #e18109;
  --attentionBg: #fff8ef;
  --attentionBorder: #fba63c;
  --attentionText: #bc741a;

  --success: #13854e;
  --successBg: #dcf3eb;
  --successBorder: #34a770;
  --successText: #10673e;

  --boxShadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  --boxShadowSecond: 0px 5px 15px rgba(119, 132, 238, 0.3);

  --borderRadius: 8px;
}

$bg: var(--bg);
$mainbg: var(--mainbg);

$text: var(--text);
$textPrim: var(--textPrim);

$second: var(--second);
$secondBg: var(--secondBg);
$secondText: var(--secondText);

$primary: var(--primary);
$primaryBg: var(--primaryBg);
$primaryText: var(--primaryText);

$wrong: var(--wrong);
$wrongBg: var(--wrongBg);
$wrongText: var(--wrongText);

$attention: var(--attention);
$attentionBg: var(--attentionBg);
$attentionBorder: var(--attentionBorder);
$attentionText: var(--attentionText);

$success: var(--success);
$successBg: var(--successBg);
$successBorder: var(--successBorder);
$successText: var(--successText);

$boxShadow: var(--boxShadow);
$boxShadowSecond: var(--boxShadowSecond);

$borderRadius: var(--borderRadius);
